
@import url(./font.css);
/* ===========================================================================================
basic style reset
=========================================================================================== */
html{position:relative;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent; width: 100%;}
*,:after,:before{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;;font-family: 'NotoSansKR',sans-serif; font-size: 1rem;letter-spacing:-0.03em;}
body{background-color: #F5F5F5; height: 100%;margin:0;padding:0;font-size:14px;font-family: 'NotoSansKR',sans-serif;font-style: normal;font-weight:400;line-height:1.2;color:#000}
dd,dl,dt,li,ol,ul{margin:0;padding:0;list-style:none}
h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}
a{color:inherit;text-decoration:none;}
img{border:0;vertical-align:middle;font-size:0;max-width:100%}
table{border-collapse:collapse;width:100%;word-break: keep-all;}
caption,legend{width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
input,select,textarea{color:#454545;font-size:0.9rem}
input,select{vertical-align:middle;}
label{cursor: pointer;}
address,em,i{font-style:normal}
button{color:inherit;border:0;padding:0;background:0 0;cursor:pointer;font-family: 'NotoSansKR',sans-serif;}
hr{margin:0;border:none;padding:0;display:block}
figcaption,figure,form{padding:0;margin:0}
fieldset{border:none;padding:0;margin:0}
input[type=number], input[type=submit]{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=text]::-ms-clear{display: none;}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
button,input,optgroup,pre,select,textarea{color:inherit;margin:0;}
span, p {word-break: keep-all; font-size: inherit;}

select::-ms-expand { display: none; }
textarea:focus, input:focus {outline: none;}